/*reset*/
*,*:before,*:after{
	box-sizing: border-box;
	
}
body{
	margin:0;
	overflow-x: hidden;
	background-image: url("image_1.png");

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
@font-face {
	font-family: pageTitle;
	src: url("Playlist Script.otf");
}
@font-face {
	font-family: Dosis;
	src: url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
}
/*section*/
section{
	height: 730px;
	background-image: url("image_1.png");
	
}

/*分割畫面*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*讓cols排列還有一些基本設定*/
[class*="col-"] {
	float: left;
}
/* Fill out the remaining space of each row */
.row::after {
	content: "";
	clear: both;
	display: table;
}
/*字體*/
h2,p{
	font-family:'Dosis';
	color: #717273;
	margin: 0;
}
p{
	letter-spacing: .05em;
}
.pageTitle{
	font-family: 'pageTitle';
	font-size: 70px;

}
.kfc{
	font-family: 'pageTitle';
	text-align: start;
    font-size: 45px;
    margin: 15px 0 30px 20px;
}
.content_eng{
	font-family: "Dosis";
}

.hp_word{
	position: absolute;
    top: 33%;
    left: 26%;
    height: 30%;
}
.hp_word img{
	height: 100%;
}
/*navBar*/
/*navBar樣式*/
#navBar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow-y: hidden;
	padding: 20px;
	background-image: url("image_1.png");
	text-align: center;
	font-size: larger;
}
/*讓navBar固定*/
.navHide,.iconHide{
	display: none;
}	
.black{
	height: 400px;
	background-color: white;
	color: white;
}
/*sideBar*/
/*sidebar樣式*/
.li_sideBar{
	height: 60%;
	position: fixed;
    top: 20%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
	font-family: 'Monotype Corsiva';
	font-weight: 600;	
	color: #717273;
}
ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

ul li{
	list-style: none;
	padding: 15px 20px;
	/*transition: 0.5s;*/
}
.li_sideBar ul li a{
	display: block;
	position: relative;
	padding: 5px;
	transition: 0.2s ease-in-out;
}

.li_sideBar ul li a:hover{
	border-bottom: 2px solid ;

	
}



/*sideBar*/
.sideHide {
	display: none;
	transition: ease-in-out;
}

/*icon bar*/
#icon_bar{
	position: fixed;
	left: 0;
	top: 37%;
}
#icon_bar a {
  display: block;
  text-align: center;
  padding: 20px 16px; 
  height: 21px;
  width: 21px;
}

.card {        
    position: relative;
    /*display: inline-block;*/
    transition: all 0.3s ease;
}
.card .icon_hover {
    display: none;
    position: absolute;
    top: 19px;
    left: 16px;
    z-index: 2;
}
.card:hover .icon_hover {
    display: inline;
}

/*the page name of the page introducing fast/slow/spirit/about fashion*/
#fastFashion,#p4{
	visibility: hidden;
	height: 10%;/*會被擋住的寬度，要放在section下、row上*/
}
#slowFashion,#spiritFashion
{
	height: 100px;
}



/*homepage*/
.homePage {
	position: relative;
	height: 100vh;

}

.p_hp{
	height: 100%;
	width: 100%;
	z-index: 0;/*讓他在最下面*/
}
#btn_hp a{
	/*position*/
	position: absolute;
	bottom: 20%;
	left: 42%;
	/*size*/
	width: 16%;
	display: inline-block;
	padding: 12px 36px;
	margin: 10px 0;
	/*word deco*/
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 40px;
	overflow: hidden;
	/*bg deco*/
	transition: .2s;
	background: #7c6556;
}

#btn_hp a:hover{
	background: #4C392F;
	color: #F9F7F0;

}


/*containers for ff*/
.container1{/*段落大標*/
	padding: 35px 70px;
	padding-right: 0;
}
.container2{/*左邊圖*/
	padding: 0px 70px;
	text-align: center;
}
.container3{/*快時尚靠右邊的文字*/
	padding: 0px 235px 50px 0px;
	font-weight: 1000;
	font-size: 20;
	line-height:2;
	transform: translateY(30px);
}
.container_ff1{
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    padding: 10% 0 0 0;
}


/*讓文字置中*/
.plz{
	
	/*排列*/
	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	height: 100%;/*高度是他父元素的100%*/
}
/*imapct 0f ff*/
.container4{/*快時尚影響的左邊圖*/
	padding: 50px 0px 50px 200px;
	
}
.container5{/*快時尚影響的中間圖*/
	padding: 50px 100px;

}
.container6{/*快時尚影響的右邊圖*/
	padding: 50px 200px 20px 0px;
	
}

/*快時尚影響的內文*/
.content_influence_l{
	padding: 0px 0px 50px 200px;
	font-weight: 1000;
	font-size: 20;
	line-height: 1.5;
	height: 190px;
	overflow-y: auto;
}
.content_influence_c{
	padding: 0px 100px;
	font-weight: 1000;
	font-size: 20;
	line-height: 1.5;
	height: 190px;
	overflow-y: auto;
}
.content_influence_r{
	padding:0px 200px 50px 0px;
	font-weight: 1000;
	font-size: 20;
	line-height: 1.5;
	height: 190px;
	overflow-y: auto;
}
.content_influence{
	padding-right: 15px; 
}

/*containers for sf*/
.what_sf_pic_container{
	position: relative;
	height: 100%;
    display: flex;
    align-items: center;
}
.what_sf_pic{
	height: 83%;
    transform: translateY(12px);
}
.why_sf_title,.what_sf_title{
	padding: 70px 100px 0 70px;
	height: 20%;
}
.why_sf_content{
	display: flex;
    align-items: center;
    padding: 70px 100px;
    font-weight: 1000;
    line-height: 2;
}
.container_s1/*慢時尚大標*/{
	padding: 35px 100px 35px 70px;
	height: 20%;
}
.content_s1/*慢時尚內文*/{
	display: flex;
    align-items: center;
    height: 80%;
    margin: 120px 100px 0 100px;
    font-weight: 1000;
    font-size: 20;
    line-height: 2;
}
.function_for_sf{
	text-align: center;
	font-family: 'pageTitle';
	font-size: 50px;
}
.bg_function{
	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	height: 100%;/*高度是他父元素的100%*/
	background-image: url(p_brush.svg);
    background-repeat: no-repeat;
    background-position-y: 41%;
}
.content_s2{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75%;
}

.picture_container_s{
	margin: 0px 3%;
	position: relative;
}
.picture_s{
	position: absolute;
    opacity: 0;
    transition: all 200ms ease-in-out;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    font-weight: 1000;
    }
.picture_s:hover{
	opacity: 1;
}
.picture_s_w{
	color: #4C2B36;
	text-align: center;
}
#mustHave{
	cursor: pointer;
}
#mustBuy{
	opacity: 1;
}
/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: url("image_1.png"); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;  
  border-radius: 10px;
}

#h100{
	height: 100%;
}

/*for modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal_content {
  background-color: #fefefe;
  width: 60%;
  height: 60%;
  position: fixed;
  top: 20%;
  left: 20%;
}

/* The Close Button */
/*必備單品*/
.close_a, .ft_close{
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
}

.close_a:hover,
.close_a:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.ft_close:hover,
.ft_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*重質不重量*/
.close_b {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
}

.close_b:hover,
.close_b:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*重複穿搭*/
.close_c {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
}
.color{
	background:rgba(124,101,86,1);
}
.close_c:hover,
.close_c:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_content_container{/*左右*/
	line-height: 1.5;
  	padding:0 0 0 8%; 
  	font-weight: 1000;
  	overflow-y: auto;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
 	height: 100%;/*高度是他父元素的100%*/
}


/*why ff? aka slideshow*/
.sliderShow{
  position: relative;	
  width: 75%;
  height: 60%;
  left: 12.5%;
  overflow: hidden;
}
.ff_impact{
	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	height: 100%;/*高度是他父元素的100%*/

	padding: 100px;
    font-weight: 1000;
    line-height: 1.5;
}
.ff_impact p{
	transform: translateY(-16px);
    overflow-y: auto;
    line-height: 2;
}

.select{
  position: absolute;
  left: 44%;
  transform: translateY(20%);
  display: flex;
}
.selectBar{
  width: 25px;
  height: 10px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer; 
}
.selectBar:hover{
  background-color: black;
}
input[name="r"]{
  position: absolute;
  visibility: hidden;

}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

label.active {
	background-color: black;
}

#r1:checked ~ .s1{
  margin-left: 0; 
}

#r2:checked ~ .s1{
  margin-left: -20%; 
}

#r3:checked ~ .s1{
  margin-left: -40%; 
}

#r4:checked ~ .s1{
  margin-left: -60%; 
}
/*map*/
.map_instruction{
	text-align: center;
	font-weight: 700;
	opacity: 0.5;
	animation: map 1s ease-in-out infinite; 
}
@keyframes map{
	0%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.7;
	}

}
.width-adjustment {
    width: 100%;
}

.flex-container {
    position: relative;
    left: 47%;
    transform: translateY(25px);
}

.flex-container>div {
    padding: 30px;
    font-size: 100px;
   }
/*container*/
.container_spirit{
	display: flex;
	margin: auto;
	width: 700px;
	height: 500px;
	background: url('p_spirit.svg') no-repeat center center;
}
.background_spirit{
	position: absolute;
	top: 0;
	left: 0;	
	z-index: -1;
}
.content_spirit{
	margin: auto;
}

svg a{
	display: none;
}
.container_au{
	display: flex;
    flex-direction: column;
    height: 80%;
}
.container_auu{
    font-weight: 1000;
    line-height: 2;
    transform: translateY(30px);
    overflow-y: auto;
    margin-right: 235px;
    height: 65%;
}
/*english version*/
.version{
	position: fixed;
    bottom: 3%;
    right: 0;
    font-family: "Dosis";
    font-weight: 1000;
    padding-right: 16px;
    z-index: 10;

}
.version a{
	color: white;

}
.version a:hover{
	color: #717273;
}

/*footer*/
.footer{
	position: relative;
 	height: 350px;
  	background-color: #DEB887; 
  	bottom: 0;
}
.ft_title{
  display: flex;
  justify-content: center;
  align-items: center;
 	padding-top: 35px;
   font-size: 30px;
  font-weight: 1000;
}
.ft_abtus{
  width: 250px;
}
.ft_abtus img{
  width: 100%;
}
.ft_margin{
	opacity: 0;
  margin-top:20px; 
  font-weight: 1000;
}
.ft_center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ft_logo{
  width: 47%;
}
.ft_mail{
  margin-top:30px;
  text-align: center; 
  font-weight: 1000;
}
.ft_mail a{
  padding-top: 20px;
  color: #717273;
}
.ft_mail a:hover{
  color: white;
}

.ft_copy{
	position: absolute;
    bottom: 10px;
    width: 530px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 1000;
}
.ft_fkoff{
	margin-top: 20px;
}
.bottomit{
	
	height: 50px;
}
.ft_modal:hover img{
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}
.ft_100{
	height: 100%;
	margin-left: 25px;
}
.ft_100 div{
	height: 50%;
}
.shortwords{
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	font-style: italic;
	padding:10px; 
}
.ft_iwannadie{
	    display: flex;
    flex-direction: column;
    align-items: center;
}
.About-Us-Image{
	padding: 20px 0;
}
.ft_plz{
	font-weight: 1000;
}

@media screen and (max-width:1024px) { 
	.pageTitle{
		font-size: 60px;
	}
	.kfc{
		font-size: 40px;
	}
	.container2 img{
		padding: 10%;
	}
	.container3{

	}
	.what_sf_pic {
    height: 70%;
    transform: translateY(95px);
    margin: auto;
    margin-left: 0;
	}
	.container_auu{
		margin: 0 28% 0 5%;
	}
	.content_s1 {
		margin: 120px 50px 0 100px;
	}
	.ff_impact{
		padding: 50px 50px;
		padding-left: 20px;
	}
	.what_sf_pic {
		height: 70%;
		transform: translateY(95px);
		margin-left: 0;
	}
}